@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;600;700&family=Playfair+Display:wght@500;600;700&display=swap");

:root {
  font-family: "DM Sans", sans-serif;

  color: #1d1a17;
  background: #f7f1e7;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  min-width: 320px;
  background: #f7f1e7;
}

button,
input {
  font: inherit;
}

button {
  cursor: pointer;
}

img {
  max-width: 100%;
}
/* =====================================================
   CUSTOM SCROLLBAR
===================================================== */

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #c93425 #f0ebe0;
}

/* Webkit (Chrome, Edge, Safari) */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: #f0ebe0;
}

::-webkit-scrollbar-thumb {
  background: #c93425;
  border-radius: 999px;
  border:none;
}

::-webkit-scrollbar-thumb:hover {
  background: #aa281c;
}

::-webkit-scrollbar-corner {
  background: #f0ebe0;
}